@import "Footer.css";
@import "Logo.css";
@import "header.css";




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: rgb(227,166,79);
    background: linear-gradient(0deg, rgba(227,166,79,1) 39%, rgba(171,93,20,0.919502835313813) 78%);
}
